<div class="copyright">
    <div class="row">
        <p>
            Content © 2008 - {{ site.time | date: "%Y" }} Byungkuk Choi.
            Subscribe <a href="/feed.xml">via RSS</a>.
            Find me on <a href="http://twitter.com/litlpoet">Twitter</a>.
        </p>
        <p>
            Hosted on <a href="http://pages.github.com">GitHub Pages</a>.
            Design and code are open source:
            <a href="https://github.com/litlpoet/litlpoet.github.io">fork me</a>,
            or
            <a href="https://github.com/litlpoet/litlpoet.github.io/issues?state=open">open an issue</a>.
        </p>
    </div>
</div>
