<div class="row home">
    <div class="large-7 columns">
        <div class="intro">
            <div>
                <div class="profile-pic"><img src="images/bk-profile.jpg"></div>
                <h1>Byungkuk Choi</h1>
            </div>
            <h2>Graphics researcher • Software developer • Character Rigger</h2>
            <p>
                Hi, I’m Byungkuk.
                I'm currently a Ph.D student
                in the <a href="http://vml.kaist.ac.kr">Visual Media Laboratory</a>
                at <a href="http://www.kaist.edu">KAIST</a>.
                My research interests are mainly focused on character animation,
                rigging and deformation.
            </p>
            <div class="social-links">
                {% include elem/icon-link.html icon="c_github" url="https://github.com/litlpoet" %}
                {% include elem/icon-link.html icon="c_googleplus" url="https://plus.google.com/+ByungkukChoi" %}
                {% include elem/icon-link.html icon="c_facebook" url="https://www.facebook.com/litlpoet" %}
                {% include elem/icon-link.html icon="c_linkedin" url="https://kr.linkedin.com/in/litlpoet" %}
            </div>
        </div>
    </div>
    <div class="large-5 columns">
        <div align="center" class="home-teaser">
            <img src="images/home-teaser.jpg"/>
        </div>
    </div>
</div>
