<div class="row post-list">
    {% if post.thumb %}
    <div class="large-10 columns">
        <a class="post-title-inline" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span>{{ post.date | date: '%B %d, %Y' }}</span>
        <p>{{ post.content | truncatewords: 42 }}</p>
    </div>
    <div class="large-2 columns">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <div class="post-round-thumb" style="background-image: url(/images/post/{{ post.thumb }});"></div>
        </a>
    </div>
    {% else %}
    <div class="large-12 columns">
        <a class="post-title-inline" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span> {{ post.date | date: '%B %d, %Y' }}</span>
        <p>{{ post.content | truncatewords: 42 }}</p>
    </div>
    {% endif %}
</div>
