$color-bg-1: white;
$color-bg-2: grey;
$color-bg-3: #dbdbdb;
$color-bg-4: #cbcbcb;
$color-bg-inv: black;

$color-0: #000000;
$color-1: #333333;
$color-2: #666666; /* dark gray */
$color-3: #999999; /* light gray */
$color-1-link: #457f8d;
$color-1-inv: white;
$color-1-inv-link: orange;

$font: Raleway;
$font-name: Righteous;
$font-size-4p0: 4.0rem;
$font-size-3p0: 3.0rem;
$font-size-2p5: 2.5rem;
$font-size-2p0: 2.0rem;
$font-size-1p5: 1.5rem;
$font-size-1p3: 1.3rem;
$font-size-1p2: 1.2rem;
$font-size-1p1: 1.1rem;
$font-size-1p0: 1.0rem;
$font-size-0p8: 0.8rem;

$line-height: 1.2em;

$space-large: 80px;
$space-medium: 40px;
$space-small: 20px;
$space-tiny: 5px;
